/*  ------------------------------------------------ *
 *  Name: Grid System
 *  Description: A grid system layout for HTML2pdf
 *  Author: Gabriel Lebue
 *  Email: gabriel@ypdigital.com.au

 * Classes: 
    - row = container of the columns 

    - column = grid 12 columns (default 100% width)
        Note: use row for new line do not use this class if the columns are not exact 12
        -- col-1    = equivalent to 1 columned width 
        -- col-2    = equivalent to 2 columned width 
        -- col-3    = equivalent to 3 columned width 
        -- col-4    = equivalent to 4 columned width 
        -- col-5    = equivalent to 5 columned width 
        -- col-6    = equivalent to 6 columned width 
        -- col-7    = equivalent to 7 columned width 
        -- col-8    = equivalent to 8 columned width 
        -- col-9    = equivalent to 9 columned width 
        -- col-10   = equivalent to 10 columned width 
        -- col-11   = equivalent to 11 columned width

    - collapse = remove gap in  rows and columns

    - text-right = text move to right

    - text-center = text move to center
 *  ------------------------------------------------ */

* {
    margin:0;
    padding:0;
}

img {
    width:100%;
}

.row {
    margin:0 30px;
    width:670px;
}

.collapse {
    width:730px;
}

.column {
    display:inline;
    position:relative;
    top:0;
    margin:0 5px;
    width:100%;
}

.collapse .column {
    margin:0;
}

.col-1 {
    width:8.33333%;
}

.col-2 {
    width:16.66666%;
}

.col-3 {
    width:25%;
}

.col-4 {
    width:33.33333%;
}

.col-5 {
    width: 41.66667%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33333%;
}

.col-8 {
    width: 66.66667%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33333%;
}

.col-11 {
    width: 91.66667%;
}

.text-center {
    text-align:center;
}

.text-right {
    text-align:right;
}